#mainDiv {
    width: 80%;
    margin: 0 auto;
    background-color: #B7B7B7;
}

#titleDiv {
    text-align: center;
}

#pictureDiv {
    margin: 0 auto;
}

#quoteDiv {
    text-align: center;
}

body {
    background-color: #DFDFDF;
    color: #252525;
}

img {
    margin: 30px auto;
    display: block;
}
